 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
 }
 body{
    display:grid;
    align-items:center;
    justify-content:center;
 }
 h1{
    font-family:sans-serif;
    text-align:center;
    font-style: italic;
    font-weight:400;
 }
 .name-label{
    font-family:sans-serif;
 }
 #name{
    height:0.9cm;
    font-weight:900;
 }
 #btn{
    height:0.9cm;
 }
 #message{
   font-weight:700;
 }
 #output{
   font-weight:900;
 }